@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="display-4">Películas</h1>
    <h3 class="display-6 text-start">Películas registradas actualmente:</h3>
    <p>Aún no hay películas registradas que mostrar.</p>
</div>
